.background__page {
    width: 100%;
    background: linear-gradient(45deg, rgb(75, 75, 134),black);
}

.container__nav--bar{
    display:flex;
    align-items: center;
    justify-content: space-around;
    background: rgba(137, 199, 199, 0.282);
    width: 100%;
    height: 70px;
}

.image__logo--nav {
    width: 200px;
}

.menu__icon--nav {
    list-style: none;
    display: flex;
}

.items__list--nav {
    margin-right: 2rem;
}

/* .link__icon--nav {

} */

.icon__nav {
    width: 40px;
    height: 40px;
}

.title__initial--page {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    
}

.text__title {
    font-size: 30px;
    background: rgba(255, 255, 255, 0.679);
    padding: 3rem;
    margin-top:1rem;
    border-radius: 50%;
    text-align: center;
    font-weight: bold;
}

.container__initial--page {
    align-self: center;
    background: url(image/pageIndex/kisspng-muttley-dick-dastardly-hanna-barbera-cartoon-anima-5b0e71be841703.1135063315276732785411.png) ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    height: 350px;
    justify-content: center;
    /* margin-top: rem; */
    width: 100%;
}

.container__initial--page {
    align-items: center;
    display: flex;
    justify-content: center;
}

.play__initial--character {
    align-items: center;
    display: flex;
    justify-content: center;
}

.link__initial--play{
    align-items: center;
    background: rgba(0, 0, 0, 0.799);
    border-radius: 15%;
    display: flex;
    height: 200px;
    justify-content: center;
    margin-right:3rem;
    width: 300px;
    box-shadow: 4px 5px 5px rgba(255, 255, 255, 0.409);
}

.link__initial--play:active {
    box-shadow:4px 5px 5px rgba(255, 255, 255, 0), inset 4px 5px 5px rgba(255, 255, 255, 0.596);
}

#penelopeCharming {
    width: 200px;
}

#brothersRocha {
    width: 150px;
}

#dickSwindler {
    width: 250px;
}

.link__image--character:hover {
    width: 300px;
}

.end__page {
    background: white;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.end__page ul li {
    margin: 5px 0;
    font-size: 20px;
}

@media screen and (max-width:720px){
    .background__page {
        height: 100%;
    }

    .container__nav--bar {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100px;
    }

    .title__initial--page {
        width: 600px;
        text-align: center;
    }

    .text__title {
        border-radius: none;
        width: 200px;
        align-self: flex-start;
    }

  /*   .background__page {
        width: auto;
    } */

/*     .container__initial--page {
        
    } */

    .link__image--character {
        width: 100px;
        height: 100px;

    }

    .link__initial--play {
        width: 150px;
    }

}
